body {
  background-color: rgb(144, 251, 185);
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .todo-box {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  width: 375px;
  text-align: center;
  }
  h1 {
  margin-bottom: 20px;
  }
  input, select, button {
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  }
  .input-area {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
    }
  button {
  background-color: royalblue;
  color: white;
  border: none;
  cursor: pointer;
  }
  ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  }
  li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  }
  li.low {
  border-left: 6px solid green;
  }
  li.medium {
  border-left: 6px solid orange;
  }
  li.high {
  border-left: 6px solid red;
  }
  p#taskCounter {
  margin-top: 15px;
  font-weight: bold;
  }
 